/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{


}

nav{
height: 50px;
width: auto;
background-color: brown;
display: flex;
 align-items: center;

justify-content: space-between;
flex-direction: row;
margin: 10px;
}

.Spotify{
    width: 80px;
    height: 30px;
  
    display: flex;
    
    justify-content: center;
    
    
}

.navigation {
  display: flex;
  gap: 40px; }

.navigation li{
    font-size: small;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: ;
    font-weight: 200;
    display: inline;
    flex-direction: row;
    
    justify-content: space-evenly;


}


